<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Choose Your Adventure Quiz</title>
  </head>
  <body>
    <h1>Choose Your Adventure Quiz</h1>
    <ul>
      <li><a href="/quiz">The Haunted House Quiz</a></li>
      <li><a href="/quizTwo">The Desert Island Quiz</a></li>
      <li><a href="/quizThree">The Haunted Forest Quiz</a></li>
    </ul>
  </body>
</html>