<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Choose Your Adventure Quiz</title>
    <link rel="stylesheet" href="css/home.css">
  </head>
  <body>
    <h1>Choose Your Adventure Quiz</h1>
    <ul>
      <li class="quiz-option">
        <a href="/quiz">The Haunted House Quiz</a>
        <br>
        <img src="pictures/HauntedHouse.jpg" alt="The Haunted House" >
      </li>
      <li class="quiz-option">
          <a href="/quizTwo">The Desert Island Quiz</a>
          <br>
          <img src="pictures/deadisland.jpg" alt ="Desert Island" >
      </li>
      <li class="quiz-option">
        <a href="/quizThree">The Haunted Forest Quiz</a>
        <br>
        <img src="pictures/hauntedforest.jpg" alt="Haunted Forest" >
      </li>
      <li class="quiz-option">
        <a href="/quizFour">The Lost City Quiz</a>
        <br>
        <img src="pictures/LostCity.jpg" alt="Lost City" >
      </li>
      <li class="quiz-option">
        <a href="/quizFive">The Plains Quiz</a>
        <br>
        <img src="pictures/plains.jpg" alt="Plains" >
      </li>
      <li class="quiz-option">
        <a href="/quizSix">Lost at sea</a>
        <br>
        <img src="pictures/lost.jpg" alt="Sea" >
      </li>
    </ul>
  </body>
</html>