<html>
  <head>
    <title>Quiz Leaderboard</title>
  </head>
  <body>
    <h1>Quiz Leaderboard</h1>
    <table>
      <thead>
        <tr>
          <th>Rank</th>
          <th>Name</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody id="leaderboard">
        <!-- scores will be inserted here -->
      </tbody>
    </table>
  </body>
  <script src="javascript/leaderboard.js"></script>
</html>