<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>The Desert Island Quiz</title>
    <link rel="stylesheet" href="css/quiz.css">
  </head>
  <body>
    <div id="quiz-container">
      <!-- Quiz questions and choices will be inserted here -->
    </div>

    <script src="javascript/quizTwo.js"></script>

  </body>
</html>