<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>The Desert Island Quiz</title>
  </head>
  <body>
    <div id="quiz-container">
      <!-- Quiz questions and choices will be inserted here -->
    </div>
    <button onclick="displayQuiz()">Start Quiz</button>
    <script src="quizTwo.js"></script>

  </body>
</html>