<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Haunted Adventure Quiz</title>
  </head>
  <body>
    <div id="quiz-container">
      <!-- Quiz questions and choices will be inserted here -->
    </div>

    <script src="javascript/quiz.js"></script>

  </body>
</html>
